Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
.vercel
*.db
!prisma/dev.db
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
terraform-aws
terraform-azure
